<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title><%-akauntoinfo.name%></title>
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="css/akaunto.css">
<link rel="stylesheet" href="css/common.css">

</head>
<body>
    <%- include('header')%>
    
    <div class="box1">
    </div>
    <div class="boxC">
        <div class="box2">
            <div class="box2-1">
                <img src="images/icons/<%-akauntoinfo.item_id%>.jpg" id="avatar" alt=""  width="150" height="150">
            </div>
            <div class="box2-2">
                <div class="box-nf">
                    <div class="box-name"><%-akauntoinfo.name%></div>
                    <div class="box-follower">フォロー：<%-follow%>　フォロワー：<%-follower%></div>
                    <div class="box-follow">
                        <%-judgement%>
                    </div>
                </div>
                <div class="box-gaiyou"><%-akauntoinfo.summary%></div>
            </div>
        </div>
        <div class="boxB">
            <div class="area">
                <input type="radio" name="tab_name" id="tab1" checked>
                <label class="tab_class" for="tab1">テーマ</label>
                <div class="content_class">
                    <% for(var i in themeinfo) { %>
                        <div class="theme_ichiran">
                            <a href="/tm<%=themeinfo[i].item_id%>">
                                <div class="theme_top">
                                    <%=themeinfo[i].contents%>
                                </div>
                            </a>
                            <a href="us<%-themeinfo[i].account_id%>">
                                <div class="theme_bottom">
                                    <div class="theme_icon">
                                        <img src="images/icons/icon.png"  id="avatar" alt=""  width="50" height="50">
                                    </div>
                                    <div class="theme_name">
                                        <%-name%>
                                    </div>
                                </div>
                            </a>
                        </div>
                    <% } %>
                </div>
                <input type="radio" name="tab_name" id="tab2" >
                <label class="tab_class" for="tab2">イラスト</label>
                <div class="content_class">
                    <% for(var i in imageinfo) { %>
                        <div class="image_ichiran">
                            <a href="im<%-imageinfo[i].item_id%>">
                                <div class="image_top">
                                </div>
                                <div class="image_top2">
                                    <%-imageinfo[i].title%>
                                </div>
                            </a>
                            <a href="us<%-imageinfo[i].account_id%>">
                                <div class="theme_bottom">
                                    <div class="theme_icon">
                                        <img src="images/icons/icon.png"  id="avatar" alt=""  width="50" height="50">
                                    </div>
                                    <div class="theme_name">
                                        <%-name%>
                                    </div>
                                </div>
                            </a>
                        </div>
                    <% } %>
                </div>
                <input type="radio" name="tab_name" id="tab3" >
                <label class="tab_class" for="tab3">作成したリスト</label>
                <div class="content_class">
                    <%-make_list%>
                    <div class="lists">
                        <% for(var i in listinfo) { %>
                            <div class="theme_ichiran">
                                <a href="/tm<%=listinfo[i].item_id%>">
                                    <div class="theme_top">
                                        <%=listinfo[i].type%>
                                    </div>
                                    <div class="image_top2">
                                        <%=listinfo[i].title%>
                                    </div>
                                </a>
                                <a href="us<%-listinfo[i].account_id%>">
                                    <div class="theme_bottom">
                                        <div class="theme_icon">
                                            <img src="images/icons/icon.png"  id="avatar" alt=""  width="50" height="50">
                                        </div>
                                        <div class="theme_name">
                                            name
                                        </div>
                                    </div>
                                </a>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        コピーライト
    </div>
</body>
</html>
