<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>検索</title>
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="css/theme_research.css">
<link rel="stylesheet" href="css/common.css">

</head>
<body>
    <%- include('header')%>

    <div class="boxC">
        <div class="box1">
            <form action="/research" method="get">
                <div class="search_bar">
                    <span class="material-symbols-outlined">search</span>
                    <input id="text2" type="text" placeholder="キーワードを入力" name="search" value="<%-search%>">
                    <details>
                        <summary class="menuber">
                            <span class="material-symbols-outlined">settings</span>
                        </summary>
                        <div class="setting_summary">
                            <div class="setting_sample"><input type="radio" class="decided" name="decide" value="tag" checked>タグ部分一致</div>
                            <div class="setting_sample"><input type="radio" class="decided" name="decide" value="title">タイトル部分一致</div>
                        </div>
                    </details>
                </div>
            </form>
        </div>
            
        <div class="boxB">
            <div class="box2">
                見つかったテーマ
            </div>
            <div class="theme_box">
                <% for(var i in themeinfo) { %>
                    <div class="theme_ichiran">
                        <a href="/tm<%=themeinfo[i].item_id%>">
                            <div class="theme_top">
                                <%=themeinfo[i].contents%>
                            </div>
                        </a>
                        <a href="us<%-themeinfo[i].account_id%>">
                            <div class="theme_bottom">
                                <div class="theme_icon">
                                    <img src="images/icons/icon.png"  id="avatar" alt=""  width="50" height="50">
                                </div>
                                <div class="theme_name">
                                    <%-name%>
                                </div>
                            </div>
                        </a>
                    </div>
                <% } %>
            </div>
        </div>

        <div class="boxB">
            <div class="box2">
                見つかったイラスト
            </div>
            <div class="image_box">
                <% for(var i in imageinfo) { %>
                    <div class="image_ichiran">
                        <a href="im<%-imageinfo[i].item_id%>">
                            <div class="image_top">
                            </div>
                            <div class="image_top2">
                                <%-imageinfo[i].title%>
                            </div>
                        </a>
                        <a href="us<%-imageinfo[i].account_id%>">
                            <div class="theme_bottom">
                                <div class="theme_icon">
                                    <img src="images/icons/icon.png"  id="avatar" alt=""  width="50" height="50">
                                </div>
                                <div class="theme_name">
                                    <%-name%>
                                </div>
                            </div>
                        </a>
                    </div>
                <% } %>
            </div>
        </div>

        <div class="boxB">
            <div class="box2">
                見つかったユーザー
            </div>
            <div class="box3">
                <% for(var i in userinfo) { %>
                    <a href="us<%-userinfo[i].item_id%>">
                        <div class="user_ichiran">
                            <div class="user_top">
                                <img src="images/icons/<%-userinfo[i].item_id%>.jpg"  id="avatar" alt=""  width="150" height="150">
                            </div>
                            <div class="user_bottom">
                                <%-userinfo[i].name%>
                            </div>
                        </div>
                    </a>
                <% } %>
            </div>
        </div>
    </div>
    <div class="copyright">
        コピーライト
    </div>
</body>
</html>
