<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title><%=imageinfo.title%></title>
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/common.css">

</head>
<body>
    <%- include('header')%>
    
    <div class="boxC">
        <div class="boxB">
            <div class="boxB-1">
                <a href="tm<%-imageinfo.theme_id%>">
                    <div class="box3">
                        <%-imageinfo.c2%>
                    </div>
                </a>
                <div class="box4">
                    <img src="images/images/<%-imageinfo.name%>" id="images">
                </div>
                <div class="box5">
                    <div class="box5-1">
                        <%-imageinfo.title%>
                    </div>
                    <div class="box5-2">
                        <div class="box5-2-likes">
                            <%-likejudge%>
                        </div>
                        <div class="box5-2-another">
                            <a href="/likes_user?id=<%-imageinfo.item_id%>" class="likes_count"><%-like%></a>
                        </div>
                        <div class="box5-2-another">
                            <details>
                                <summary class="menuber">
                                    <span class="material-symbols-outlined">ios_share</span>
                                </summary>
                                <div class="setting_summary">
                                    <div class="share">
                                        <ul>
                                            <li><a href="https://twitter.com/intent/tweet?text=[テキスト]&url=[URL]&via=[アカウント]" onclick="window.open(this.href, 'SNS', 'width=500, height=300, menubar=no, toolbar=no, scrollbars=yes'); return false;" class="share-tw">
                                                <i class="fa fa-twitter"></i>
                                                Twitterでシェア
                                            </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </details>
                        </div>
                        <div class="list_add">
                            <details>
                                <summary class="menuber">
                                    <span class="material-symbols-outlined">list</span>
                                </summary>
                                <div class="setting_summary">
                                    <h1 id="setting_head">リストに追加</h1>
                                    <%-list_add%>
                                </div>
                            </details>
                        </div>
                    </div>
                    <div class="box5-4">
                        <ul>
                            <% for(var i in tag) { %>
                                <li><a href="/research?search=<%- tag[i].tag %>"><%= tag[i].tag %></a></li>
                            <% } %>
                        </ul>
                    </div>
                    <div class="date"><%-imageinfo.views%>回閲覧・<%-imageinfo.date.getFullYear()%>/<%-imageinfo.date.getMonth()+1%>/<%-imageinfo.date.getDate()%></div>
                    <div class="box5-3">
                        <%-imageinfo.contents%>
                    </div>
                    <div class="box5-5">
                        <div class="box5-icon">
                            <img src="images/icons/<%=imageinfo.account_id%>.jpg"  id="avatar" alt=""  width="70" height="70">
                        </div>
                        <div class="box5-name">
                            <a href="us<%-imageinfo.account_id%>"><%-imageinfo.username%></a>
                        </div>
                        <div class="box5-follow">
                            <%-judgement%>
                        </div>
                    </div>
                </div>
                <div class="box6">
                    <div class="box6-1">
                        <a href="/comments?id=<%-imageinfo.item_id%>"><strong>Comment</strong></a>
                        <br>
                    </div>
                    <div class="box6-3">
                        <form action="/comment" method="post">
                            <textarea name="comment" class="comment_text"></textarea>
                            <input type="hidden" name="id" value="<%= imageinfo.item_id%>">
                            <input type="hidden" name="user_id" value="<%= imageinfo.account_id%>">
                            <input type="hidden" name="link" value="/im<%= imageinfo.item_id%>">
                            <input type="submit" value="投稿">
                        </form>
                    </div>
                    <div class="box6-2">
                        <% for(var i in comments) { %>
                            <div class="comment">
                                <div class="comment-icon">
                                    <a href="/us<%=comments[i].account_id%>">
                                        <img src="images/icons/<%=comments[i].account_id%>.jpg"  id="avatar" alt=""  width="50" height="50">
                                    </a>
                                </div>
                                <div class="comment-left">
                                    <div class="comment-name">
                                        <strong><%=comments[i].name%></strong>
                                    </div>
                                    <div class="comment-contents">
                                        <%=comments[i].summary%>
                                    </div>
                                </div>
                            </div>
                            <% if(i>=2){break;} %>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="boxB-2">
                <h2 class="box7">
                    <a href="/same_image?id=<%-imageinfo.theme_id%>">同テーマのイラスト
                </h2>
                <div class="box8">
                    <% for(var i in sametheme) { %>
                        <div class="same_ichiran">
                            <a href="im<%-sametheme[i].item_id%>">
                                <div class="image_top">
                                    <img src="images/images/<%-sametheme[i].name%>" id="thumbnail">
                                </div>
                                <div class="image_top2">
                                    <%-sametheme[i].title%>
                                </div>
                            </a>
                            <a href="us<%-sametheme[i].account_id%>">
                                <div class="theme_bottom">
                                    <div class="theme_icon">
                                        <img src="images/icons/<%=sametheme[i].account_id%>.jpg"  id="avatar" alt=""  width="50" height="50">
                                    </div>
                                    <div class="theme_name">
                                        <%=sametheme[i].username%>
                                    </div>
                                </div>
                            </a>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="box9">
            <h2 class="box9-1">
                <a href="connection?id=<%-imageinfo.item_id%>&type=image">関連イラスト</a>
            </h2>
            <div class="image_box">
                <% for(var i in connection_image) { %>
                    <div class="image_ichiran">
                        <a href="im<%-connection_image[i].item_id%>">
                            <div class="image_top">
                                <img src="images/images/<%-connection_image[i].name%>" id="thumbnail">
                            </div>
                            <div class="image_top2">
                                <%-connection_image[i].title%>
                            </div>
                        </a>
                        <a href="us<%-connection_image[i].account_id%>">
                            <div class="theme_bottom">
                                <div class="theme_icon">
                                    <img src="images/icons/<%=connection_image[i].account_id%>.jpg"  id="avatar" alt=""  width="50" height="50">
                                </div>
                                <div class="theme_name">
                                    <%=connection_image[i].username%>
                                </div>
                            </div>
                        </a>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    <div class="copyright">
        コピーライト
    </div>
</body>
</html>
