<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title><%=imageinfo.title%></title>
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="css/style.css">

</head>
<body>
    <%- include('header')%>
    
    <div class="boxC">
        <div class="boxB">
            <div class="boxB-1">
                <a href="tm<%-imageinfo.theme_id%>">
                    <div class="box3">
                        <%-imageinfo.contents%>
                    </div>
                </a>
                <div class="box4">
                    <img src="images/images/<%-imageinfo.name%>">
                </div>
                <div class="box5">
                    <div class="box5-1">
                        <%-imageinfo.title%>
                    </div>
                    <div class="box5-2">
                        <span class="material-symbols-outlined">grade</span><%-imageinfo.likes%>　<span class="material-symbols-outlined">ios_share</span>
                    </div>
                    <div class="box5-4">
                        <ul>
                            <% for(var i in tag) { %>
                                <li><a href="/research?search=<%- tag[i] %>"><%= tag[i] %></a></li>
                            <% } %>
                        </ul>
                    </div>
                    <div class="box5-3">
                        <%-imageinfo.c1%>
                    </div>
                    <div class="box5-5">
                        <div class="box5-icon">
                            <img src="images/icons/icon.png"  id="avatar" alt=""  width="70" height="70">
                        </div>
                        <div class="box5-name">
                            <a href=<%-akauntolink%>><%-name%></a>
                        </div>
                        <div class="box5-follow">
                            <a href="#">Forrow</a>
                        </div>
                    </div>
                </div>
                <div class="box6">
                    <div class="box6-1">
                        <strong>Comment</strong>
                        <br>
                        <form action="/comment" method="post">
                            <input type="text" name="comment">
                            <input type="hidden" name="id" value="<%= imageinfo.id1%>">
                            <input type="hidden" name="link" value="/im<%= imageinfo.id1%>">
                            <input type="submit" value="投稿">
                        </form>
                    </div>
                    <div class="box6-2">
                        <% for(var i in comments) { %>
                            <div class="comment">
                                <div class="comment-icon">
                                    <img src="images/icons/icon.png"  id="avatar" alt=""  width="50" height="50">
                                </div>
                                <div class="comment-left">
                                    <div class="comment-name">
                                        <strong><%=comments[i].name%></strong>
                                    </div>
                                    <div class="comment-contents">
                                        <%=comments[i].su1%>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="boxB-2">
                <div class="box7">
                    同テーマのイラスト
                </div>
                <div class="box8">
                    一覧
                </div>
            </div>
        </div>
        <div class="box9">
            <div class="box9-1">
                関連イラスト
            </div>
            <div class="box9-2">
                一覧
            </div>
        </div>
    </div>
    <div class="box10">
        コピーライト
    </div>
</body>
</html>
