<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>タイトル</title>
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="css/user_list.css">
<link rel="stylesheet" href="css/common.css">

</head>
<body>
    <%- include('header')%>
    <div class="notification_box">
        <div class="box1">
            <h1><%=title%></h1>
        <ul>
            <% for(var i in userinfo) { %>
                <a href="us<%-userinfo[i].item_id%>"><li>
                    <div class="box2">
                        <img src="images/icons/<%-userinfo[i].item_id%>.jpg" id="avatar" alt=""  width="75" height="75">
                    </div>
                    <div class="box3">
                        <div class="box3-1">
                            <%-userinfo[i].name%>
                        </div>
                        <div class="box3-2">
                            <%-userinfo[i].summary%>
                        </div>
                    </div>
                </li></a>
            <% } %>
        </ul>
        </div>
    </div>
    <div class="copyright">
        コピーライト
    </div>
</body>
</html>
